<form method='post' action='/api/venues'>
	<input name="venue[name]" type="text" placeholder="name">	
	<input name="venue[location]" type="text" placeholder="location">
	<input name="venue[start_datetime]" type="text" placeholder="start_datetime">
	<input name="venue[end_datetime]" type="text" placeholder="end_datetime">
	<input type="submit">
</form>